<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXImageEdit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F193BCC71E9B22D000846480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F193BCE01E9B22D000846480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F193BCEB1E9B22D000846480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
